@inherits LayoutComponentBase


<PageTitle>Shop.Admin</PageTitle>

<div class="page">

    @if (IsAdminLoggedIn)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>

        @if (IsAdminLoggedIn)
        {

            <div class="top-row px-4">
                <a href="#" @onclick="Logout">Logout</a>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public bool IsAdminLoggedIn = false;

    public void Logout()
    {
        navManager.NavigateTo("/login"); // Cikis yapildiginda kullanici URL de belirtildigi gibi login sayfasina gidecektir
    }
}
