@page "/category"

<h3>Category</h3>

@code {
    // Asagida yapilan islemler ile kullanici giris yapmamissa bu sayfalara erisememesini sagladik.
    [CascadingParameter]
    public EventCallback notify { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await notify.InvokeAsync();
        }
    }
}
